.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.modal-content {
  margin: 0 auto;
  margin-top: 3%;
  max-width: 600px;
  background-color: #eee;
  box-shadow: 0 0 2px #fff;
  padding: 2rem;
}

.modal-header {
  display: flex;
  flex-direction: column;
  height: 6.625rem;
}

.modal-header .modal-body .modal-footer {
  padding: 10px;
}

.modal-footer button {
  padding: 0.25rem 0.5rem;
  margin-top: 1.2rem;
  font-size: 0.725rem;
  color: white;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 3px #999;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #505bb0;
}

.modal-footer button:active {
  background-color: #6c79db;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

#current-pokemon-info h1,
h2,
h3,
h4 {
  color: #011030;
  margin: 5px;
  text-align: center;
}

.font-size-12 {
  font-size: 12px;
}

span {
  color: #8f9396;
}

.bold {
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.margin-5 {
  margin: 5px;
}

.hide {
  display: none !important;
}

input {
  border: none;
  outline: none;
  font-size: 18px;
  flex: 1;
}

.container {
  border-radius: 20px;
  box-shadow: #ededed 0 10px 10px;
  padding: 15px;
  background-color: white;
}

.type-container {
  border-radius: 5px;
  padding: 3px 7px;
  color: black;
  margin: 5px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.8;
}

#current-pokemon-info {
  margin-top: 6vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

#current-pokemon-image {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 78vh;
  margin: 0 auto;
  object-fit: contain;
  max-width: 250px;
  max-height: 15vh;
}

.pokemon-info-variable-container {
  width: 100%;
  background-color: #f6f8fc;
  padding: 8px 0;
  border-radius: 30px;
  margin: 5px;
}

.current-pokemon-stats-container {
  background: #f6f8fc;
  display: flex;
  padding: 5px;
  border-radius: 30px;
  margin: 5px;
}

.current-pokemon-stats-container h5 {
  margin: 6px 0;
}

.current-pokemon-stats-name {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.current-pokemon-evolution-image {
  height: 74px;
  width: 74px;
  cursor: pointer;
  border-radius: 30%;
}

.current-pokemon-evolution-image:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.current-pokemon-evolution-level-container {
  width: 50px;
  background-color: #f6f8fc;
  padding: 8px 0;
  border-radius: 30px;
  margin: 15px;
}
